/* Main */
.SegControl {
  float: left;
  display: -ms-flexbox;
  overflow: hidden;
  position: relative;
  z-index: 1;
  padding: 9px 10px 0 10px;
  width: 16%;
  border-bottom: 1px solid gainsboro;

  @media (max-width: 640px) {
    display: none;
  }
}