/* BudgetOverview */
.BudgetOverview {
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  padding-top: 10px;
  padding-bottom: 10px;
}

.colGrid {
  flex-flow: row wrap;
  justify-content: center;
  display: flex;
  align-items: center;
}

.lbl {
  font-size: 1.3rem;
  margin-right: 3px;
  color: #a3a3a3;
}

.num {
  font-size: 1.8rem;
}

.darkgray {
  color: #6c6c6c;
}

.red {
  color: #c81a14;
}

.green {
  color: #518200;
}