/* Ledger Form */
.LedgerForm {
  margin: 0 auto;
  width: 50%;
}

.dateInputFix input {
  padding: 4px !important;
}

.checkbox {
  padding-top: 20px;
 }

.readonlyInput {
  border: none;
  padding: 0;
  background: none;
  color: #444;
}
