/* Table Sort and Filter */
.tsf {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.tsfWrapper{
  height: 100%;
  width: 100%;
  clear: both;
}

.tsfTable {
  height: 200px;
  width: 100%;
  overflow: hidden;
}

.filterTsf {
  width: 200px;
  position: absolute;
  overflow: hidden;
  right: 0;
  top: 0;
  z-index: 999;

  &>div {
    padding: 10px;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  }
}

.filterTsf div h5 {
  margin-top: 0;
  margin-bottom: 5px;
}

.showhideDropdown {
  padding: 10px !important;
  margin-bottom: 0;
}