/* Table Sort and Filter */
.tsf, .wrapperTsf {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.wrapperTsf .headerRow .header {
  
}

.filterTsf {
  width: 200px;
  position: absolute;
  overflow: hidden;
  right: 0;
  top: 0;
  background: burlywood;
  padding: 10px;
  z-index: 1;
}

.filterTsf div:first-child h5 {
  margin-top: 0;
}