@import "@folio/stripes-components/lib/variables.css";

.progressCompleted {
  height: 100%;
  border-radius: var(--radius);
  background-color: var(--success);

  &.withErrors {
    background-color: var(--error);
  }
}
